body {
  background-color: #fafafa;
}

h1 {
  text-align: center;
  font-size: 48px;
}

h2 {
  font-size: 32px;
  margin: 0 0 5px;
}
h1,
h2,
select,
footer,
.date {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
select {
  display: block;
  width: 100%;
  border-radius: 4px;
  padding: 10px;
  font-size: 16px;
  background-color: white;
}

.container {
  max-width: 600px;
  margin: 60px auto;
  background: #118a7e;
  color: white;
  border-radius: 8px;
  padding: 30px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.city {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #fafafa;
  padding: 20px 0;
}

.time {
  font-size: 48px;
  font-weight: bold;
}

small {
  font-size: 18px;
  vertical-align: middle;
}

footer {
  text-align: center;
  opacity: 0.8;
}
small {
  font-size: 18px;
  vertical-align: middle;
}

a {
  color: #010202;
}
